@model List<EBibliotheque.Models.Livre>

@{
    ViewBag.Title = "AfficherLivres";
}

<h2>Liste des livres</h2>

<table class="table">
    <tr>
        <th>Titres</th>
        <th>Nom Auteur</th>
    </tr>

@foreach (var item in @Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Titre, "Livre", "Afficher", new { id = @item.Id}, null)
        </td>
        <td>
            @Html.ActionLink(@item.Auteur.Nom, "Auteur", "Afficher", new { id= @item.Auteur.Id}, null)
        </td>
    </tr>
}

</table>
