@model EBibliotheque.Models.Livre

@{
    ViewBag.Title = "AfficherLivre";
}

<h2>Details du livre @Model.Titre</h2>

<table class="table">
    <tr>
        <th>Titres</th>
        <th>Date de parution</th>
        <th>Nom de l'auteur</th>
        <th>Emprunter</th>
    </tr>
    <tr>
        <td>
            @Model.Titre
        </td>
        <td>
            @Model.DateParution.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.ActionLink(Model.Auteur.Nom, "Auteur", "Afficher", new { id = Model.Auteur.Id}, null )
        </td>
        <td>
            @if (Model.Client != null)
            {
                @Model.Client.Nom
            }
        </td>
    </tr>
</table>
