@model EBibliotheque.ViewModels.AjouterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Ajouter un Livre</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(excludePropertyErrors: true, message: "", htmlAttributes: new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(expression: model => model.Livre.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(expression: model => model.Livre.Titre, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(expression: model => model.Livre.Titre, validationMessage: "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(expression: model => model.Livre.DateParution, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(expression: model => model.Livre.DateParution, htmlAttributes: new {type = "date" , placeholder = "aaaa/mm/jj", @class = "form-control"})
                @Html.ValidationMessageFor(expression: model => model.Livre.DateParution, validationMessage: "", htmlAttributes: new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(expression: model => model.Livre.Auteur.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(expression: model => model.Livre.Auteur.Nom, selectList: (SelectList)Model.Auteurs, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(expression: model => model.Livre.Auteur.Nom, validationMessage: "", htmlAttributes: new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@ViewBag.test


